In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_json("News_Category_Dataset_v3.json",lines=True,nrows=50000)
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [4]:
df.shape

(50000, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   link               50000 non-null  object
 1   headline           50000 non-null  object
 2   category           50000 non-null  object
 3   short_description  50000 non-null  object
 4   authors            50000 non-null  object
 5   date               50000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 2.3+ MB

## 1.Content Based Recommendation System

In [6]:
# TF_IDF Vectorization
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(stop_words="english",max_df=.8,min_df=5,ngram_range=(1,2))
tfidf_matrix=vectorizer.fit_transform(df["headline"])
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], shape=(50000, 13930))

In [7]:
cosin_sim=cosine_similarity(tfidf_matrix,tfidf_matrix)
cosin_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.12519614,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.12519614, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]], shape=(50000, 50000))

## Recommend Function

In [8]:
pd.set_option('display.max_colwidth', None)

In [10]:
title="The investment stratergies in 2025"
import re
def content_base_rec(title,n_rows=5):
    title=re.sub(r"\W+"," ",title) # removes special characters
    title=title.lower().strip()
    title_vc=vectorizer.transform([title])
    cosine_scores=cosine_similarity(title_vc,tfidf_matrix).flatten()
    indices=cosine_scores.argsort()[::-1][:5]
    return df.loc[indices,["headline"]]
content_base_rec("education is free")

                                                                                       headline
33294                             Janelle Monae: 'None Of Us Are Free Until All Of Us Are Free'
6015                         Which Airline To Fly Based On The Free Snacks, Because Free Snacks
34305                                                       The Release Of The Education Budget
45605  Betsy DeVos, Trump's Education Pick, Seems Unfamiliar With A Major Federal Education Law
26188                                    Inequality, Political Education And Lilla's Liberalism